.bg{
    background-image: url(../public/assets/heroImg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}
.about{
    background-image: url(../public/assets/image.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-clip: text;
    letter-spacing: 0.5rem;
    color: transparent;
    font-weight: bolder;
    
}
.interview{
    background-image: url(../public//assets/interview.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 100vh;
}